.column, .dark-mode .column, .dark-mode .bS, .bS {
  float: left;
  width: 47%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#myBtn {
  display: none;
  border-radius: 12px;
  width: 25%;
  margin-left: 75px;
}

.modal, .modalSpeed {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modalSpeed {
  display: block;
  visibility: hidden;
  padding: 2%;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.TwonOne {
  display: none;
}

.OnenTwo {
  display: none;
}

.One {
  display: none;
}

#confir {
  display: none;
}

#confirTriple {
  display: none;
}

caption {
  font-size: 1.7em;
}

h2 {
  text-align: center;
}

.topInfo {
  display: flex;
  width: 100%;
  text-align: center;
}

.Info {
  float: left;
  width: 49%;
  align-items: center;
}

.characterInfo {
  margin: 10px 5px 0px 0px;
  padding: 0.71%;
}

.classInfo {
  margin: 10px 5px 0px 5px;
}

.multiClass {
  margin: 10px 0px 0px 5px;
}

* {
  font-family: "Almendra SC";
}

.sidenav, .dark-mode .sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 6.1%;
}
.sidenav a, .dark-mode .sidenav a {
  padding: 0.81% 0.81% 0.81% 3.79%;
  text-decoration: none;
  font-size: 25px;
  display: block;
  transition: 0.3s;
}
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#Manual, #lifeTotalMan {
  display: none;
}

body {
  background-image: url("https://wallpapercrafter.com/desktop/11152-laboratory-sci-fi-art-man-monitors-light-4k.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

select, .Proficiencies button {
  border-radius: 12px;
  border: 0px solid black;
  background-color: rgba(255, 64, 64, 0);
  color: #FFFF66;
}
select option, .dark-mode select optgroup, .Proficiencies button option, select optgroup, .Proficiencies button optgroup {
  color: #000000;
}
input, #classII {
  margin-right: 17.5px;
  border: 0px solid black;
  background-color: rgba(255, 64, 64, 0);
  color: #FFFF66;
}

.hidden {
  display: none;
}

.modal-content, .modalSpeed-content {
  margin: auto;
  padding: 2.03334689%;
  width: 80%;
  border: 3px outset #0E2F44;
  border-radius: 12px;
  background-color: rgba(255, 64, 64, 0.45);
}

.modalSpeed-content {
  text-align: center;
}

.butao {
  border: 3px outset #0E2F44;
}

.sidenav, .dark-mode .sidenav {
  background-color: #0E2F44;
}
.sidenav a, .dark-mode .sidenav a {
  color: #FF4040;
}
.sidenav a:hover {
  color: #f1f1f1;
}

html {
  color: #FFFF66;
}

#symbol {
  border: 3px inset #FF4040;
  border-radius: 12px;
  background-color: #0E2F44;
  margin-right: 35px;
  float: right;
}

#icon {
  color: #FF4040;
}

.title {
  margin: 0 auto 0 auto;
  width: 75%;
  text-align: center;
}

.tI-light, .downbar, .S-light, .pF-light, .sS-light {
  border: 4px outset #0E2F44;
  border-radius: 12px;
  margin-top: 25px;
  background-color: rgba(255, 64, 64, 0.45);
}

.sS-light {
  height: auto;
  border-bottom: 0px;
}

.pF-light {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: rgba(255, 64, 64, 0);
}

.Proficiencies select, .Proficiencies button {
  float: right;
}
.Proficiencies button {
  padding: 0.71%;
}

.armor, .languages, .gaming, .instruments, .weapons {
  margin-top: 25px;
}

.tools {
  margin-top: 50px;
}

.border {
  border: 4px outset #0E2F44;
  border-radius: 12px;
  margin-top: 50px;
  margin-left: 75px;
  margin-right: 75px;
  padding: 0.71%;
  background-color: rgba(255, 64, 64, 0.45);
}

.S-light {
  height: 100%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 25px;
}
.switch input, .switch #classII {
  opacity: 0;
  width: 0;
  height: 0;
  margin-left: 25px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #000000;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #FF4040;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}

#slider-lt:checked + .slider {
  background-color: #000000;
}
#slider-lt:checked + .slider:before {
  background-color: #FFFCFC;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
#slider-lt:checked:focus + .slider {
  box-shadow: 0 0 1px #000000;
}

.downbar {
  padding: 0.71%;
}

.shield {
  float: left;
}

.Death {
  float: left;
  width: 33.33%;
  border: 1px solid black;
}

.Dslabel:after {
  content: "";
  display: table;
  clear: both;
}

.FSaves {
  width: 1.3em;
  height: 1.3em;
  background-color: #000000;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #000000;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.FSaves:checked {
  background-color: #FF4040;
}

.SSaves {
  width: 1.3em;
  height: 1.3em;
  background-color: #000000;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #000000;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.SSaves:checked {
  background-color: #0AD13F;
}

.dark-mode {
  background-image: url("https://www.wallpaperflare.com/static/499/597/100/fantasy-art-aliens-black-grey-wallpaper.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #0AD13F;
}
.dark-mode select, .dark-mode .Proficiencies button, .Proficiencies .dark-mode button {
  background-color: rgba(255, 64, 64, 0);
  color: #0AD13F;
}
.dark-mode select option, .dark-mode select optgroup, .dark-mode .Proficiencies button option, .dark-mode .Proficiencies button optgroup, .Proficiencies .dark-mode button option, .Proficiencies .dark-mode button optgroup {
  color: #000000;
}
.dark-mode input, .dark-mode #classII {
  margin-right: 17.5px;
  border: 0px solid black;
  background-color: rgba(255, 64, 64, 0);
  color: #0AD13F;
}
.dark-mode .butao {
  border: 3px outset #8F8C04;
}
.dark-mode .modal-content, .dark-mode .modalSpeed-content {
  margin: auto;
  padding: 2.03334689%;
  width: 80%;
  border: 3px outset #8F8C04;
  border-radius: 12px;
  background-color: rgba(97, 97, 97, 0.9);
}
.dark-mode #symbol {
  border: 3px inset #0AD13F;
  border-radius: 12px;
  background-color: #3A2F37;
  margin-right: 35px;
  float: right;
}
.dark-mode #dk-icon {
  color: #0AD13F;
}
.dark-mode .sidenav {
  background-color: #3A2F37;
  color: #8F8C04;
}
.dark-mode .sidenav a {
  color: #0AD13F;
}
.dark-mode .sidenav a:hover {
  color: #8F8C04;
}
.dark-mode .hidden {
  display: inline-block;
}
.dark-mode .show {
  display: none;
}
.dark-mode .title {
  align-items: center;
  margin: 0 auto 0 auto;
  width: 75%;
  text-align: center;
}
.dark-mode .tI-dark, .dark-mode .downbar, .dark-mode .S-dark, .dark-mode .pF-dark, .dark-mode .sS-dark {
  border: 4px outset #8F8C04;
  border-radius: 12px;
  margin-top: 25px;
  background-color: rgba(97, 97, 97, 0.9);
}
.dark-mode .sS-dark {
  height: auto;
  border-bottom: 0px;
}
.dark-mode .pF-dark {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: rgba(255, 255, 255, 0);
}
.dark-mode .S-dark {
  height: 100%;
}
.dark-mode .border {
  border: 4px outset #8F8C04;
  border-radius: 12px;
  margin-top: 50px;
  margin-left: 75px;
  margin-right: 75px;
  padding: 0.71%;
  background-color: rgba(97, 97, 97, 0.9);
}
.dark-mode .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.dark-mode .switch input, .dark-mode .switch #classII {
  opacity: 0;
  width: 0;
  height: 0;
}
.dark-mode .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #616161;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.dark-mode .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #8F8C04;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.dark-mode .slider.round {
  border-radius: 34px;
}
.dark-mode .slider.round:before {
  border-radius: 50%;
}
.dark-mode #slider-dk:checked + .slider {
  background-color: #616161;
}
.dark-mode #slider-dk:checked + .slider:before {
  background-color: #0AD13F;
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.dark-mode #slider-dk:checked:focus + .slider {
  box-shadow: 0 0 1px #616161;
}
.dark-mode .FSaves {
  width: 1.3em;
  height: 1.3em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.dark-mode .FSaves:checked {
  background-color: gray;
}
.dark-mode .SSaves {
  width: 1.3em;
  height: 1.3em;
  background-color: #FFFCFC;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #ddd;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
}
.dark-mode .SSaves:checked {
  background-color: #FFFF66;
}
.dark-mode .downbar {
  padding: 0.71%;
}

@media (max-width: 600px) {
  .column, .dark-mode .column, .dark-mode .bS, .bS {
    width: 100%;
  }
}
.polaroid, .containerB {
  margin: auto;
  width: 90%;
  background-color: #fffcfc;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 102, 0.2), 0 6px 20px 0 rgba(255, 255, 102, 0.19);
  margin-bottom: 25px;
  text-align: center;
  border-radius: 15px;
}
.polaroid img, .containerB img {
  border-radius: 15px 15px 0px 0px;
}
.polaroid p, .containerB p {
  color: #000000;
}

.containerB {
  width: 100%;
}

.container {
  text-align: center;
  padding: 1.423% 2.135%;
}

.column, .dark-mode .column, .dark-mode .bS, .bS {
  margin-top: 17.5px;
  float: left;
  width: 47%;
  height: auto;
}

.bS {
  width: 50%;
  text-align: center;
}

.obS {
  align-items: center;
}

.coluna {
  padding: 0.71%;
}

#image-input {
  margin: auto;
}

img {
  width: 100%;
  background-position: center;
  background-size: cover;
}

.imageHolder {
  text-align: center;
  align-items: center;
  margin-right: 17.5px;
  padding: 0.71%;
}

.caracte {
  text-align: center;
  padding: 1.423%;
}

.Leftness {
  width: 49%;
  margin-right: 17.5px;
}

.rightness {
  width: 49%;
  margin-left: 17.5px;
}

#moldura {
  margin: auto;
  margin-top: 5px;
  border: 1px solid black;
  border-radius: 12px;
  background-color: #9e9e9e;
}

p {
  width: 100%;
  margin: 17.5px;
  text-align: center;
}

.slidecontainer {
  width: 100%;
}

.sliderB {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}
.sliderB:hover {
  opacity: 1;
}
.sliderB::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}
.sliderB::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #04aa6d;
  cursor: pointer;
}

#backstory {
  margin: 3px 7px 3px 7px;
}

textarea, .dark-mode textarea {
  border-radius: 12px;
}

#moedas {
  position: relative;
  bottom: 30px;
  border: 2px solid black;
}

#descricao {
  margin: auto;
  width: 100%;
  text-align: center;
  font-size: 2.2em;
}

.column, .dark-mode .column, .dark-mode .bS, .bS {
  background-color: rgba(255, 64, 64, 0.45);
}

.Leftness {
  background-color: rgba(255, 64, 64, 0);
}

.Ante {
  border: 4px outset #0E2F44;
  padding: 1.067%;
}

textarea, .dark-mode textarea {
  background-color: rgba(255, 252, 252, 0.85);
}

.coins {
  border: 4px outset #0E2F44;
}

.molduraAR {
  border: 8px outset #0E2F44;
}

.molduraBR {
  border: 8px inset #0E2F44;
}

.dark-mode .column, .dark-mode .bS {
  background-color: rgba(97, 97, 97, 0.45);
}
.dark-mode .Leftness {
  background-color: rgba(97, 97, 97, 0);
}
.dark-mode .Ante {
  border: 4px outset #0E2F44;
  padding: 1.067%;
}
.dark-mode textarea, .dark-mode textarea, .dark-mode textarea, .dark-mode textarea {
  background-color: rgba(255, 252, 252, 0.85);
}
.dark-mode .coins {
  border: 4px outset #0AD13F;
  color: #0AD13F;
}
.dark-mode .molduraAR {
  border: 8px outset #0AD13F;
}
.dark-mode .molduraBR {
  border: 8px inset #0AD13F;
}

@media (max-width: 600px) {
  .column, .bS, .dark-mode .column, .dark-mode .bS {
    width: 100%;
  }

  textarea, .dark-mode textarea {
    width: 20em;
  }
}