.column {
  float: left;
  width: 33.33%;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

#myBtn {
  display: none;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.TwonOne {
  display: none;
}

.OnenTwo {
  display: none;
}

.One {
  display: none;
}

#confir {
  display: none;
}

#confirTriple {
  display: none;
}

input, #classII {
  margin-right: 25px;
}

caption {
  font-size: 1.7em;
}

h2 {
  text-align: center;
}

.topInfo {
  display: flex;
  width: 100%;
  text-align: center;
}

.Info {
  float: left;
  width: 49%;
  align-items: center;
}

.characterInfo {
  margin: 10px 5px 0px 0px;
  padding: 7px;
}

.classInfo {
  margin: 10px 5px 0px 5px;
}

.multiClass {
  margin: 10px 0px 0px 5px;
}

* {
  font-family: "Almendra SC";
}

body {
  background-image: url("https://i.pinimg.com/originals/39/ab/84/39ab8439bd5030b89b4ad1bb358d944e.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

.hidden {
  display: none;
}

html {
  color: #FFFF66;
}

#symbol {
  border: 3px solid #0E2F44;
  border-radius: 12px;
  background-color: #FF4040;
  margin-right: 35px;
  float: right;
}

.title {
  margin: 0 auto 0 auto;
  width: 75%;
  text-align: center;
}

.tI-light, .S-light, .pF-light, .sS-light {
  border: 4px outset #0E2F44;
  border-radius: 12px;
  margin-top: 25px;
  background-color: rgba(255, 64, 64, 0.45);
}

.sS-light {
  height: auto;
  border-bottom: 0px;
}

.pF-light {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: rgba(255, 64, 64, 0);
}

.Proficiencies select, .Proficiencies button {
  float: right;
  border-radius: 12px;
}
.Proficiencies button {
  padding: 7px;
}

.armor, .languages, .gaming, .instruments, .weapons {
  margin-top: 25px;
}

.tools {
  margin-top: 50px;
}

.border {
  border: 4px outset #0E2F44;
  border-radius: 12px;
  margin-top: 50px;
  margin-left: 75px;
  margin-right: 75px;
  background-color: rgba(255, 64, 64, 0.45);
}

.S-light {
  height: 100%;
}

.dark-mode {
  background-image: url("https://preview.redd.it/fhw62fs8e0b61.jpg?width=1920&format=pjpg&auto=webp&s=7122c1eabc5d9541541505619fc9095b3fd13ef8");
  background-repeat: no-repeat;
  background-size: auto;
  color: #0AD13F;
}
.dark-mode #symbol {
  border: 3px solid #3A2F37;
  border-radius: 12px;
  background-color: #0AD13F;
  margin-right: 35px;
  float: right;
}
.dark-mode .hidden {
  display: block;
}
.dark-mode .show {
  display: none;
}
.dark-mode .title {
  align-items: center;
  margin: 0 auto 0 auto;
  width: 75%;
  text-align: center;
}
.dark-mode .tI-dark, .dark-mode .S-dark, .dark-mode .pF-dark, .dark-mode .sS-dark {
  border: 3px outset #8F8C04;
  border-radius: 12px;
  margin-top: 25px;
  background-color: rgba(97, 97, 97, 0.45);
}
.dark-mode .sS-dark {
  height: auto;
  border-bottom: 0px;
}
.dark-mode .pF-dark {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  background-color: rgba(255, 255, 255, 0);
}
.dark-mode .S-dark {
  height: 100%;
}